<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body class="body">
    <h1>Hello World From Home Page!!!!!</h1>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/services">Services</a>
    <br>
    <br>
    <br>
    <input type="text" placeholder="Enter your name">
    <br>
    <input type="password" placeholder="Enter your password">
    <br>
    <br>
    <button id="sendToDBButton" type="button" class="button">Send To DB</button>
    <br>
    <!-- <script src=".././styles/style.css"></script> -->
</body>

</html>
<!-- 
    This is a comment

    //   res.send('<h2>Hello World!</h2>')
    //   res.send('<h3>Hello World!</h3>')
    //   res.send('<h4>Hello World!</h4>')
    //   res.send('<h5>Hello World!</h5>')
    //   res.send('<h6>Hello World!</h6>')
    //   res.send('<p>Hello World!</p>')
    //   res.send('<a href="https://www.google.com">Google</a>')
    //   res.send('<img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="Google Logo">')
    //   res.send('<button>Click me</button>')
    //   res.send('<input type="text" placeholder="Enter your name">')
    //   res.send('<select><option value="1">1</option><option value="2">2</option><option value="3">3</option></select>')
    //   res.send('<textarea placeholder="Enter your message"></textarea>')
    //   res.send('<form><input type="text" placeholder="Enter your name"><button>Submit</button></form>')
    //   res.send('<table><tr><td>1</td><td>2</td><td>3</td></tr><tr><td>4</td><td>5</td><td>6</td></tr><tr><td>7</td><td>8</td><td>9</td></tr></table>')
    //   res.send('<ul><li>1</li><li>2</li><li>3</li></ul>')
    //   res.send('<ol><li>1</li><li>2</li><li>3</li></ol>')
    //   res.send('<div>Hello World!</div>')
    //   res.send('<span>Hello World!</span>')
    //   res.send('<hr>')
    //   res.send('<br>')
    //   res.send('<br>')
    -->